* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}


/* END OF CSS RESET */

body {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #515151;
  font-family: 'Montserrat', sans-serif;

}

#root {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.center {

}

.container{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.buttons{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.action{
  background-color: #c6c6c6;
  border-radius: 30px;
}

button {
  background-color: #c6c6c6;
  border-radius: 30px;
}


.rock{
  width: 100px;
  height: 100px;
}

.scissors{
  width: 100px;
  height: 100px;
}

.paper{
  width: 100px;
  height: 100px;
}

